################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/passwords.txt
/Project/calgary_canada.osm.json
/Project/calgary_canada.osm
